* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f5f5f5;
  font-size: 16px;
}

.content {  
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  padding: 30px 5% 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-image: url('../public/images/bg.jpg');
  background-position: bottom;
  background-size: cover;
  flex-wrap: wrap;
  row-gap: 50px;
  box-sizing: border-box;
}

header .logo {
  width: 200px;  
}

header .logo img {
  width: 100%;
  border-radius: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  column-gap: 40px;
}

header nav ul a {  
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
}

header nav ul a:hover {
  text-decoration: underline;
}

header nav ul a.active {
  font-weight: bold;
}

header .btn-new-task {
  background-color: #46567C;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color .5s linear;
}

header .btn-new-task:hover {
  background-color: #046AEB;
}

section {
  padding: 0 5%;
}


footer {
  background-color: #031734;
  padding: 40px 5%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #fff;  
}